{{define "header"}}
<!doctype html>
<html>
<meta charset="utf-8">
<title>管理系统</title>
<script src="/statics/admin/js/common/jquery.js"></script>
<script src="/statics//js/common/jquery-ui.min.js"></script>
<script src="/statics/js/common/jquery.form.js"></script>
<script src="/statics//js/common/common.js"></script>
<script>
var token = "{{.token}}";
var baseurl = "";
</script>
<link href="/statics/admin/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="/statics/admin/css/jquery-ui.css" />
</head>
<body>
{{end}}