{{define "content"}}
{{template "header"}}
<div class="wrap"><div class="nav">
	<ul class="cc">
    <li class="current"><a href="/Admin/User/index">用户列表</a></li>
		<li><a href="/Admin/User/add">添加用户</a></li>
	</ul>
</div>
<div class="table_list">
	<table width="100%">
		<tr class="hd">
			<td width="60">UID</td>
			<td>用户名</td>
			<td>邮箱</td>
			<td>用户组</td>
			<td>注册时间</td>
			<td>注册IP</td>
			<td>操作</td>
		</tr>
		{{range .users}}
		<tr class="ct">
			<td>1</td>
			<td>{{printf "%s" .username}}</td>
			<td>{{printf "%s" .email}}</td>
			<td>{{printf "%s" .groupname}}</td>
            <td>{{printf "%s" .registertime}}</td>
			<td>{{printf "%s" .registerip}}</td>
			<td>
			<a href="/admin/user/edit?id={{.uid|buffer}}" class="mr10">编辑</a><a onclick="deleteOne('/admin/user/delete?id={{.uid|buffer}}', '是否要删除该用户？', event);" href='javascript:'>删除</a></td>
		</tr>
		{{end}}
		
	</table>
</div>
<div class="mr10 cc">
</div>
</div>
{{template "footer"}}
{{end}}
